body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  position: relative;
  background-image: url(assets/backgound-page.jpg);
  background-image: cover;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
}

body::before {
  content: '';
  background-color: rgba(0, 0, 0,.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.logo img{
  height: 100px;
  width: 200px;
}

.header-page {
  padding: 20px 50px;
  position: relative;
  z-index: 10;
}

.login {
  padding: 70px;
  z-index: 90;
  position: relative;
  max-width:450px;
  height: 600px;
  margin-left: 50%;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  box-sizing: border-box;
  transform: translateX(-50%);
}

.login h1{
  font-size: 32px;
  color: #ffff;
  margin-top: 0;
}

.login input {
  height: 50px;
  width: 100%;
  color: #fff;
  background-color: #333;
  border-radius: 5px;
  border: none;
  padding-left: 15px;
  box-sizing: border-box;
  outline: none;
}

.login input:hover {
  background-color: #444;
}

.input-box {
  margin-bottom: 25px;
}

.login button {
  height: 50px;
  width: 100%;;
  background-color: #e50914;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  font-weight: bold ;
  margin-bottom: 10px;
}

.support {
  display: flex;
  color: #b3afaf;
  justify-content: space-between;
  font-size: 13px;
  margin-bottom: 4px;
}

.support input {
  width: 20px;
  height: 20px;

}

.remember {
  display: flex;
  align-items: center;
}

.remember span {
  margin-right: 5px;
  height:25px ;
}

.help a {
  text-decoration: none;
  color: #b3afaf;
}

.help a:hover {
  text-decoration: underline;
}

.new-user {
  color: #737373;
  font-size: 16px;
}

.new-user a {
  text-decoration: none;
  color: #fff;

}

.new-user a:hover {
  text-decoration: underline;
}

.terms {
  color: #737373;
  font-size: 13px
}

.terms a {
  text-decoration: none;
  color: #0071eb;
}

.terms a:hover {
  text-decoration: underline;
}

.input-box {
  position: relative;
  margin: 20px 0;
}

.form-control {
  width: 50%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.form-control:focus {
  border: 2px solid #555;
  outline: none;
}

.form-control::placeholder {
  color: transparent;
}

label {
  position: absolute;
  color: #737373;
  font-size: 16px;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  transition: all 0.2s ease;
}

.form-control:focus ~ label,
  .form-control:not(:placeholder-shown) ~ label {
    top: 9px;
    font-size: 10px;
    color: #c4b0b0;
  }